<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>you</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>you.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>you.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>you.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ProjectFilter</display-name>
    <filter-name>ProjectFilter</filter-name>
    <filter-class>you.ProjectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProjectFilter</filter-name>
    <url-pattern>/ProjectFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>projectAllocationServlet</display-name>
    <servlet-name>projectAllocationServlet</servlet-name>
    <servlet-class>you.projectAllocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectAllocationServlet</servlet-name>
    <url-pattern>/projectAllocationServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PAFilter</display-name>
    <filter-name>PAFilter</filter-name>
    <filter-class>you.PAFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PAFilter</filter-name>
    <url-pattern>/PAFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TimesheetServlet</display-name>
    <servlet-name>TimesheetServlet</servlet-name>
    <servlet-class>you.TimesheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesheetServlet</servlet-name>
    <url-pattern>/TimesheetServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TimesheetFilter</display-name>
    <filter-name>TimesheetFilter</filter-name>
    <filter-class>you.TimesheetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimesheetFilter</filter-name>
    <url-pattern>/TimesheetFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>you.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/LeaveServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LeaveFilter</display-name>
    <filter-name>LeaveFilter</filter-name>
    <filter-class>you.LeaveFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LeaveFilter</filter-name>
    <url-pattern>/LeaveFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>you.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>you.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
</web-app>